<h2 class="header-2">Tables</h2>
<p class="p-0">Use the table styles wherever you need to present static data in a tabular format.</p>

<h3 class="header-3">Basic Tables</h3>
<table class="table">
    <thead>
    <tr>
        <th>Decimal</th>
        <th>Hexadecimal</th>
        <th>Binary</th>
        <th>Roman Numeral</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>I</td>
    </tr>
    <tr>
        <td>5</td>
        <td>5</td>
        <td>101</td>
        <td>V</td>
    </tr>
    <tr>
        <td>10</td>
        <td>A</td>
        <td>1010</td>
        <td>X</td>
    </tr>
    <tr>
        <td>15</td>
        <td>F</td>
        <td>1111</td>
        <td>XV</td>
    </tr>
    </tbody>
</table>

<h3 class="header-3">Left-Aligned Table Cells</h3>
<table class="table">
    <thead>
    <tr>
        <th class="left">Wizard</th>
        <th>Allegiance</th>
        <th>Triwizard Champion?</th>
        <th>Can Cast Fireball</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="left">Harry</td>
        <td>Gryffindor</td>
        <td>Yes</td>
        <td>No</td>
    </tr>
    <tr>
        <td class="left">Gandalf</td>
        <td>Hobbits</td>
        <td>Maybe?</td>
        <td>I don&apos;t think so...</td>
    </tr>
    <tr>
        <td class="left">Obi-Wan Kenobi</td>
        <td>Republic/Rebellion</td>
        <td>No</td>
        <td>No</td>
    </tr>
    <tr>
        <td class="left">Merlin</td>
        <td>King Arthur</td>
        <td>Probably invented the tournament</td>
        <td>Solid maybe</td>
    </tr>
    </tbody>
</table>

<h3 class="header-3">Non-Bordered</h3>
<table class="table table-noborder">
    <thead>
    <tr>
        <th class="left">Monster</th>
        <th>Home</th>
        <th>Likes Cookies</th>
        <th class="left">Fun to Play With</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="left">Wolfman</td>
        <td>Nondisclosed countryside</td>
        <td>Sometimes</td>
        <td class="left">Not really</td>
    </tr>
    <tr>
        <td class="left">Mothra</td>
        <td>Tropical island</td>
        <td>No</td>
        <td class="left">Only if you have a flashlight</td>
    </tr>
    <tr>
        <td class="left">Oscar the Grouch</td>
        <td>Sesame Street</td>
        <td>No</td>
        <td class="left">No</td>
    </tr>
    <tr>
        <td class="left">Cookie Monster</td>
        <td>Sesame Street</td>
        <td>Definitely yes</td>
        <td class="left">Only if you have no cookies</td>
    </tr>
    </tbody>
</table>

<h3 class="header-3">Vertical</h3>
<table class="table table-vertical">
    <tbody>
    <tr>
        <th>Basic table</th>
        <td>.table</td>
        <td>...</td>
    </tr>
    <tr>
        <th>Left-aligned table cells</th>
        <td>.left</td>
        <td>...</td>
    </tr>
    <tr>
        <th>Tables without borders</th>
        <td>.table-noborder</td>
        <td>...</td>
    </tr>
    <tr>
        <th>Compact tables</th>
        <td>.table-compact</td>
        <td>...</td>
    </tr>
    <tr>
        <th>Vertical tables</th>
        <td>.table-vertical</td>
        <td>...</td>
    </tr>
    </tbody>
</table>

<h3 class="header-3">Table Container Widths</h3>
<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-6 col-xl-4">
        <table class="table">
            <thead>
            <tr>
                <th class="left">Language</th>
                <th>Foo</th>
                <th>Bar</th>
                <th>Baz</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="left">Pig Latin</td>
                <td>Oofay</td>
                <td>Arbay</td>
                <td>Azbay</td>
            </tr>
            <tr>
                <td class="left">Bizarro</td>
                <td>Bar</td>
                <td>Foo</td>
                <td>Bang</td>
            </tr>
            <tr>
                <td class="left">Hodor</td>
                <td>Hodor</td>
                <td>Hodor</td>
                <td>Hodor</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-6 col-xl-4">
        <table class="table">
            <thead>
            <tr>
                <th class="left">Color</th>
                <th>R</th>
                <th>G</th>
                <th>B</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="left">Black</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
            <tr>
                <td class="left">New Black</td>
                <td>255</td>
                <td>165</td>
                <td>0</td>
            </tr>
            <tr>
                <td class="left">Pantone 292</td>
                <td>98</td>
                <td>168</td>
                <td>229</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-6 col-xl-4">
        <table class="table">
            <thead>
            <tr>
                <th class="left">Name</th>
                <th class="left">Weakness</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="left">Frankenstein</td>
                <td class="left">Fire</td>
            </tr>
            <tr>
                <td class="left">Dracula</td>
                <td class="left">Garlic</td>
            </tr>
            <tr>
                <td class="left">Wolfman</td>
                <td class="left">Squirrels</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

