<h2 class="header-2">Toggle Switches</h2>
<p class="p-0">A toggle switch changes on and off states of a single setting.</p>

<form>
    <section class="form-block">
        <div class="form-group">
            <label>Toggles</label>
            <div class="toggle-switch">
                <input type="checkbox" id="toggle_1">
                <label for="toggle_1">Toggle off</label>
            </div>
        </div>
        <div class="form-group">
            <div class="toggle-switch">
                <input type="checkbox" id="toggle_2" checked>
                <label for="toggle_2">Toggle on</label>
            </div>
        </div>
        <div class="form-group">
            <div class="toggle-switch">
                <input type="checkbox" id="toggle_3" disabled>
                <label for="toggle_3">Toggle off and disabled</label>
            </div>
        </div>
        <div class="form-group">
            <div class="toggle-switch">
                <input type="checkbox" id="toggle_4" checked disabled>
                <label for="toggle_4">Toggle on and disabled</label>
            </div>
        </div>
    </section>
</form>
