body {
    background: url("http://subtlepatterns.com/patterns/wild_oliva.png");
    font: 1em "PT Sans", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

.tabs {
    position: relative;
    width: 600px;
    margin-top: 50px;
    perspective: 600px;
}

.tab > input {
    display: none;
}

.tab > label {
    display: block;
    height: 45px;
    float: left;
    padding: 0 20px;
    margin-right: 5px;

    color: #eee;
    border-radius: 5px 5px 0 0;
    line-height: 45px;
    cursor: pointer;
    transition: color .3s, background-color .3s;
}

.tab > label:hover {
    color: #f44336;
}

.tab > input:checked + label {
    color: #eee;
    background-color: #f44336;
    cursor: default;
}

.tab > article {
    opacity: 0;
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 40px;

    border: 2px solid #f44336;
    color: #333;
    background: #eee;
    line-height: 1.4em;

    transform: rotateX(-90deg);
    transform-origin: top center;
    transition: opacity .3s, transform 1s;
}

.tab > input:checked ~ article {
    opacity: 1;
    transform: rotateX(0deg);
}