<h2 class="header-2">Buttons</h2>

<p class="p-0">Buttons allow an application to communicate action and direct user intent.</p>

<h3 class="header-3">Types</h3>

<button class="btn btn-primary">Solid Button</button>
<button class="btn btn-outline">Outline Button</button>
<button class="btn btn-link">Flat Button</button>

<h3 class="header-3">Sizes</h3>

<h4 class="header-4">Normal</h4>

<button class="btn btn-primary">Primary</button>
<button class="btn btn-success">Success</button>
<button class="btn btn-info">Info</button>
<button class="btn btn-warning">Warning</button>
<button class="btn" disabled>Disabled</button>

<h4 class="header-4">Small</h4>

<button class="btn btn-primary btn-sm">Primary</button>
<button class="btn btn-success btn-sm">Success</button>
<button class="btn btn-info btn-sm">Info</button>
<button class="btn btn-warning btn-sm">Warning</button>
<button class="btn btn-sm" disabled>Disabled</button>

<h4 class="header-4">Block</h4>

<button class="btn btn-primary btn-block">Primary</button>
<button class="btn btn-success btn-block">Success</button>

