<h2 class="header-2">Alerts</h2>

<p class="p-0">An alert is a banner that uses text, color, and an icon to denote the severity of a message.</p>

<h4 class="header-4">Danger</h4>

<clr-alert [clrAlertType]="'alert-danger'">
    <div class="alert-item">
        <span class="alert-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequuntur deserunt minus repellendus totam. Asperiores assumenda doloremque eum explicabo numquam obcaecati provident sequi voluptatibus? Cum dolor numquam praesentium quasi voluptate.
        </span>
    </div>
</clr-alert>


<h4 class="header-4">Warning</h4>

<clr-alert [clrAlertType]="'alert-warning'">
    <div class="alert-item">
        <span class="alert-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime nulla quis reiciendis repellat. Adipisci, animi autem eum harum maiores nemo provident rerum similique temporibus. Architecto deleniti laborum quaerat quam quod.
        </span>
    </div>
</clr-alert>


<h4 class="header-4">Info</h4>

<clr-alert [clrAlertType]="'alert-info'">
    <div class="alert-item">
        <span class="alert-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, saepe.
        </span>
    </div>
</clr-alert>

<h4 class="header-4">Success</h4>

<clr-alert [clrAlertType]="'alert-success'">
    <div class="alert-item">
        <span class="alert-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </span>
    </div>
</clr-alert>



