<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tour of Heroes</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<main class="app">
    <h1>Tour of Heroes</h1>
    <h2>My Heroes</h2>
    <ul class="heroes"></ul>
</main>

<!-- Templates -->
<script id="heroTemplate" type="text/template">
    <li <% if (hero.selected) { %> class="selected" <% } %>>
        <span class="badge"><%= hero.id %></span> <span class="name"><%= hero.name %></span>
    </li>
</script>

<script type="text/template" id="app-template">
    <h1><%= title %></h1>
    <h2>My Heroes</h2>
    <ul class="heroes">
        <% _.each(heroes, function(hero) { %>
            <li data-id="<%= hero.id %>" <% if (hero.id === selectedHero.id) { %> class="selected" <% } %>>
                <span class="badge"><%= hero.id %></span> <span class="name"><%= hero.name %></span>
            </li>
        <% }); %>
    </ul>
    <div class="hero-details"></div>
</script>
<script type="text/template" id="hero-details-template">
    <% if (hero.id) { %>
        <h2><span class="name"><%= hero.name %></span> details!</h2>
        <div><label>id: </label><%= hero.id %></div>
        <div>
            <label>name: </label>
            <input value="<%= hero.name %>" placeholder="name"/>
        </div>
    <% } %>
</script>

<!-- Libs -->
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/underscore/underscore-min.js"></script>
<script src="node_modules/backbone/backbone-min.js"></script>

<!-- App -->
<script src="js/models/hero.js"></script>
<script src="js/collections/heroes.js"></script>
<script src="js/views/hero.js"></script>
<script src="js/views/heroes.js"></script>
<!--<script src="js/views/hero-detail.js"></script>-->
<script src="js/app.js"></script>

</body>
</html>