<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tour of Heroes</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<main class="app"></main>

<!-- Templates -->
<script type="text/template" id="app-template">
    <h1><%= title %></h1>
    <h2>My Heroes</h2>
    <ul class="heroes">
        <% _.each(heroes, function(hero) { %>
        <li data-id="<%= hero.id %>" <% if (hero.id === selectedHero.id) { %> class="selected" <% } %>>
            <span class="badge"><%= hero.id %></span> <span class="name"><%= hero.name %></span>
        </li>
        <% }); %>
    </ul>
    <% if (selectedHero.id) { %>
        <div class="hero-details">
            <h2><span class="name"><%= selectedHero.name %></span> details!</h2>
            <div><label>id: </label><%= selectedHero.id %></div>
            <div>
                <label>name: </label>
                <input value="<%= selectedHero.name %>" placeholder="name"/>
            </div>
        </div>
    <% } %>
</script>

<!-- Libs -->
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/underscore/underscore-min.js"></script>
<script src="node_modules/backbone/backbone-min.js"></script>

<!-- App -->
<script src="js/views/app.js"></script>
<script src="js/main.js"></script>

</body>
</html>