<h2 class="header-2">UI Components</h2>
<ul>
    <li>
        <a class="nav-link" href="#" [routerLink]="['/alerts']" [class.active]="router.url==='/alerts'">Alert</a>
    </li>
    <li>App (Layout)</li>
    <li>
        <a class="nav-link" href="#" [routerLink]="['/buttons']"
           [class.active]="router.url==='/buttons'">Button</a>
    </li>
    <li>Card (Dashboard)</li>
    <li>
        <a class="nav-link" href="#" [routerLink]="['/checkboxes']"
           [class.active]="router.url==='/checkboxes'">Checkboxe</a>
    </li>
    <li>Content</li>
    <li>
        <a class="nav-link" href="#" [routerLink]="['/dropdowns']"
           [class.active]="router.url==='/dropdowns'">Dropdown</a>
    </li>
    <li>Form (Layout)</li>
    <li>Grid</li>
    <li>Header</li>
    <li>
        <a class="nav-link" href="#" [routerLink]="['/input-fields']"
           [class.active]="router.url==='/input-fields'">Input Field</a> (text, password, textarea, number)
    </li>
    <li>
        <a class="nav-link" href="#" [routerLink]="['/modals']"
           [class.active]="router.url==='/modals'">Modal</a>
    </li>
    <li>
        <a class="nav-link" href="#" [routerLink]="['/radios']"
           [class.active]="router.url==='/radios'">Radio Button</a>
    </li>
    <li>
        <a class="nav-link" href="#" [routerLink]="['/select-boxes']"
           [class.active]="router.url==='/select-boxes'">Select Box</a>
    </li>
    <li>Sidenav</li>
    <li>Subnav (Tabs)</li>
    <li>
        <a class="nav-link" href="#" [routerLink]="['/tables']"
           [class.active]="router.url==='/tables'">Table</a> (Datagrid)
    </li>
    <li>
        <a class="nav-link" href="#" [routerLink]="['/toggle-switches']"
           [class.active]="router.url==='/toggle-switches'">Toggle Switch</a>
    </li>
    <li>
        <a class="nav-link" href="#" [routerLink]="['/tooltips']"
           [class.active]="router.url==='/tooltips'">Tooltip</a>
    </li>
</ul>
